@import "../imports/variables.less";
@import "../imports/mixins.less";

body, html {
	background-color: @slate-grey;
}

h1 {
	color: @white;
	font-size: 26px;
	font-weight: @proxima-bold;
	margin-bottom: 23px;
	text-transform: uppercase;
}
.container {
	padding-bottom: 30px;

	// a {
	// 	color: @white;
	// }
}
.form-group {
	padding: 0px 4px 4px 4px;
	background: @blue-corn;
	border-radius: 2px;

	label {
		font-size: 13px;
		padding-top: 5px;
		padding-bottom: 3px;
		line-height: 23px;
	}

	.redactor-box, .redactor-box textarea, .redactor-editor, input, input.form-control, textarea {
		font-size: 14px;
		font-weight: 500;
	}

	.redactor-editor {
		-moz-appearance: textfield-multiline;
		-webkit-appearance: textarea;
		resize: vertical;
		overflow: auto;
		padding-left: 0px;
		padding-bottom: 0px;
		padding-right: 0px;
	}
}

.redactor-box {
	margin-bottom: 0px;
}


.redactor-toolbar {
	background: @blue-corn;

	li {

		a {
			color: @white;
		}
	}
}


input[type="checkbox"] {
	height: auto;
	background: transparent;
	-webkit-appearance: checkbox;
}



.badge {
	height: 21px;
	line-height: 1.5;
}

.badge.live {
	background: @green;
}

.badge.draft {
	background: @sandy-brown;
}

.versions {
	color: @white;

	&:hover, &:focus {
		color: @white;
	}
}
