@import "../imports/variables.less";
@import "../imports/mixins.less";

body, html {
	background-color: @slate-grey;
}

.container {
	padding-bottom: 30px;
}
.form-group {
	padding: 0px 4px 4px 4px;
	background: @blue-corn;
	border-radius: 2px;

	label {
		font-size: 13px;
		padding-top: 5px;
		padding-bottom: 3px;
		line-height: 23px;
	}

	// input, textarea, .redactor-editor, .redactor-box, .redactor-box textarea {
	// 	position: relative;
	// 	display: block;
	// 	padding: 0.8em;
	// 	border: none;
	// 	border-radius: 0;
	// 	color: @blue-corn;
	// 	-webkit-appearance: none; /* for box shadows to show on iOS */
	// 	border-radius: 2px;
	// 	box-shadow: none;
	// 	outline: none;
	// 	&:focus {
	// 		box-shadow: none;
	// 		outline: none;
	// 	}
	// }
}

.redactor-box {
	margin-bottom: 0px;
}


.redactor-toolbar {
	background: @blue-corn;

	li {

		a {
			color: @white;
		}
	}
}
