@import "imports/base.less";
@import "imports/variables.less";
@import "imports/mixins.less";


@media (max-width: 1126px) {
	.cd-header .header-inner-container  {
		position: relative;
		.hi-icon-effect-2 {
			float: none;
			margin-top: 0;
			position: absolute!important;
			top: auto !important;
			bottom: -15px;
			right: 15px;
		}
	}
}


@media (min-width: 768px) {
	.cd-header {
		.header-inner-container {
			width: 750px;
		} 
	}
}

@media (min-width: 992px) {
	.cd-header {
		.header-inner-container {
			width: 970px;
		} 
	}
}


