@import "imports/base.less";
@import "imports/variables.less";
@import "imports/mixins.less";

.container {
	max-width: 900px;
}

.content-block-top-bar {
	border-bottom: 2px solid @night-lake;
	padding-bottom: 10px;

	.btn.btn-success {
		text-transform: uppercase;
		height: 45px;
		line-height: 30px;
		float: right;
		min-width: 130px;
		// margin-top: -3px;
	}

	.search-container {
		float: left;
		margin-left: 0px;
		// min-width: 260px;
	}

	.btns-container {
		float: right;
		// font-size: 0;
		.elements {
			display: inline-block;
			margin-left: 30px;
			vertical-align: top;
		}

		.hi-icon {
			height: 41px;
			width: 41px;
		}

		.hi-icon-effect-2 {
			margin-top: 2px;
		}
	}

	.top-bar-sort-by-container {
		display: block;
		position: relative;
		text-align: right;
		margin-top: 30px;
		ul {
			margin-bottom: 0px;
			li {
				display: inline-block;
				padding-right: 21px;
				font-weight: @proxima-semibold;
				font-size: @font-size-base;
				.azure-font-link();
				cursor: pointer;
				padding-left: 5px;
				padding-top: 3px;
				padding-bottom: 2px;
				line-height: 20px;


				&:after {
					content: '';
					width: 0; 
					height: 0; 
					position: absolute;
					top: 10px;
					margin-left: 6px;
				}

				&.selected-asc {
					color: @alice-blue;
					&:after {
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 6px solid @alice-blue;
					}
				}

				&.selected-desc {
					color: @alice-blue;
					&:after {
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 6px solid  @alice-blue;
					}
				}
				&:first-child, .sort-by-label{
					color: @alice-blue;
					cursor: default;

					&:hover {
						color: @alice-blue;
					}

					&.selected-descending, &.selected-ascending {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}


.fadding-container {
	height: 100%;
	background-image: linear-gradient(rgba(213,222,235,0) 0%, rgb(213,222,235) 80%, rgb(213,222,235) 100%);
	width: 44px;
	position: absolute;
	top: 0px;
	right: 0px;
}


.alert {
	border: 0px;
	border-bottom: 2px solid @green;
	border-radius: 2px;
	font-size: 14px;
	background-color: @blue-corn;
	margin-bottom: 0px;
	padding: 12px 15px;

	button.close {
		display: none;
	}
}

.alert-success {
	border-color: @green;
	color: @green;
}

.alert-error {
	border-color: @coral;
	color: @coral;
	font-weight: @proxima-bold;
}


.cd-header {
	height: auto;
	padding: 25px 0px;

	.header-inner-container {
		max-width: 900px;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		h1 {
			font-size: 26px;
			font-weight: @proxima-bold;
			color: @white;
			max-width: 75%;
			text-transform: uppercase;
			line-height: 30px;
			display: inline-block;
		}

		.hi-icon-effect-2 {
			display: inline-block;
			float: right;
			margin-top: 5px;

			.hi-icon {
				box-shadow: 0 0 0 2px @orchid;

				&:before {
					background-image: url(../images/icons/versions.png); //to be replaced with @2x or svg
				}
				&:after {
					background-color: @orchid;
				}
			}
		}
	}

	#header-content-container {
		position: absolute;
		top: 0px;
		height: 46px;
		right: 5%;
	}

}

.back-btn {
	display: inline-block;
	.azure-font-link();
	font-weight: @proxima-bold;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 20px;
	position: relative;
	padding-left: 20px;

	svg {
		height: 42px;
		position: absolute;
		left: -15px;
		top: 5px;

		polyline {
			stroke: @azure !important;
		}

	}

	&:focus, &:hover {
		.azure-font-link();

		svg polyline {
			stroke: @grey !important;
		}
	}
}

@import "theme_responsive.less";

