@import "imports/base.less";
@import "imports/variables.less";
@import "imports/mixins.less";

.container {
	max-width: 900px;
}

.content-block-top-bar {
	border-bottom: 2px solid @night-lake;
	padding-bottom: 10px;
	.btn {
		text-transform: uppercase;
		width: 100%;
	}
}