*,::before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-smoothing:antialiased;font-smooth:always;-webkit-font-smoothing:antialiased}
input:-webkit-autofill,input:-webkit-autofill:focus,select:-webkit-autofill,textarea:-webkit-autofill{-webkit-box-shadow:none!important;-webkit-box-shadow:0 0 0 1000px #D5DEEB inset!important;background-color:#D5DEEB!important;color:#343C55!important;-webkit-text-fill-color:#343C55!important}
body,html{overflow:auto;height:100%;font-family:proxima-nova}
a,a:focus,a:hover{outline:0;text-decoration:none}
li{list-style-type:none}
@media (max-width:1126px){.cd-header .header-inner-container{position:relative;padding-left:0;padding-right:0}
.cd-header .header-inner-container .hi-icon-effect-2{float:none;margin-top:0;position:absolute!important;top:auto!important;bottom:-30px}
.cd-header #header-content-container{right:7px;width:100%}
header.cd-header{max-width:900px;padding-left:15px;padding-right:15px;margin-right:auto;margin-left:auto}
}
@media (max-width:1126px) and (min-width:992px){.cd-header .header-inner-container{padding-left:0;padding-right:0}
.cd-header .header-inner-container .hi-icon-effect-2{right:30px}
header.cd-header{width:970px}
}
@media (max-width:991px){.cd-header .header-inner-container .hi-icon-effect-2{right:15px}
}
@media (max-width:991px) and (min-width:768px){.cd-header .header-inner-container{padding-left:0;padding-right:0}
.cd-header .header-inner-container .hi-icon-effect-2{right:30px}
body header.cd-header{width:750px}
}
@media (max-width:767px){.cd-header .header-inner-container .hi-icon-effect-2{right:0}
}
@media (min-width:768px){.cd-header .header-inner-container{width:750px}
}
@media (min-width:992px){.cd-header .header-inner-container{width:970px}
}