*,::before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-smoothing:antialiased;font-smooth:always;-webkit-font-smoothing:antialiased}
input:-webkit-autofill,input:-webkit-autofill:focus,select:-webkit-autofill,textarea:-webkit-autofill{-webkit-box-shadow:none!important;-webkit-box-shadow:0 0 0 1000px #d5deeb inset!important;background-color:#d5deeb!important;color:#343c55!important;-webkit-text-fill-color:#343c55!important}
body,html{overflow:auto;height:100%;font-family:proxima-nova}
a,a:focus,a:hover{outline:0;text-decoration:none}
li{list-style-type:none}
@media (min-width:768px){.cd-header .header-inner-container{width:750px}
}
@media (min-width:992px){.cd-header .header-inner-container{width:970px}
}