.alert,.content-block-top-bar .top-bar-sort-by-container ul{margin-bottom:0}
.back-btn,.cd-header .header-inner-container h1{display:inline-block;font-weight:700;text-transform:uppercase}
*,::before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-smoothing:antialiased;font-smooth:always;-webkit-font-smoothing:antialiased}
input:-webkit-autofill,input:-webkit-autofill:focus,select:-webkit-autofill,textarea:-webkit-autofill{-webkit-box-shadow:none!important;-webkit-box-shadow:0 0 0 1000px #d5deeb inset!important;background-color:#d5deeb!important;color:#343c55!important;-webkit-text-fill-color:#343c55!important}
body,html{overflow:auto;height:100%;font-family:proxima-nova}
a,a:focus,a:hover{outline:0;text-decoration:none}
li{list-style-type:none}
body{height:auto}
body.theme-simple{height:100%}
.container{max-width:900px}
.border{background:#4d546b;height:2px;width:100%}
.content-block-top-bar{padding-bottom:30px}
.content-block-top-bar .btn.btn-success{text-transform:uppercase;height:45px;line-height:30px;float:right;min-width:130px}
.content-block-top-bar .top-bar-sort-by-container ul li a,.content-block-top-bar .top-bar-sort-by-container ul li:first-child{font-weight:600;font-size:12px;line-height:20px;padding:3px 21px 2px 5px}
.content-block-top-bar .search-container{float:left;margin-left:0}
.content-block-top-bar .btns-container{float:right}
.content-block-top-bar .btns-container .elements{display:inline-block;margin-left:30px;vertical-align:top}
.content-block-top-bar .btns-container .hi-icon{height:41px;width:41px}
.content-block-top-bar .btns-container .hi-icon-effect-2{margin-top:2px}
.content-block-top-bar .top-bar-sort-by-container{display:block;position:relative;text-align:right}
.content-block-top-bar .top-bar-sort-by-container ul li{display:inline-block}
.content-block-top-bar .top-bar-sort-by-container ul li a{color:#9fa7b7;cursor:pointer;display:block}
.alert button.close,.content-block-top-bar .top-bar-sort-by-container ul li .sort-by-label.selected-ascending:after,.content-block-top-bar .top-bar-sort-by-container ul li .sort-by-label.selected-descending:after,.content-block-top-bar .top-bar-sort-by-container ul li:first-child.selected-ascending:after,.content-block-top-bar .top-bar-sort-by-container ul li:first-child.selected-descending:after{display:none}
.content-block-top-bar .top-bar-sort-by-container ul li a:hover{color:#858b99}
.content-block-top-bar .top-bar-sort-by-container ul li .sort-by-label:hover,.content-block-top-bar .top-bar-sort-by-container ul li a.asc,.content-block-top-bar .top-bar-sort-by-container ul li a.desc,.content-block-top-bar .top-bar-sort-by-container ul li:first-child:hover{color:#d5deeb}
.content-block-top-bar .top-bar-sort-by-container ul li a:after{content:'';width:0;height:0;position:absolute;top:10px;margin-left:6px}
.content-block-top-bar .top-bar-sort-by-container ul li a.asc:after{border-left:5px solid transparent;border-right:5px solid transparent;border-top:6px solid #d5deeb}
.content-block-top-bar .top-bar-sort-by-container ul li a.desc:after{border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:6px solid #d5deeb}
.content-block-top-bar .top-bar-sort-by-container ul li .sort-by-label,.content-block-top-bar .top-bar-sort-by-container ul li:first-child{color:#d5deeb;cursor:default}
.sort-by-wrapper{padding-bottom:5px;margin-top:-10px}
.fadding-container{height:100%;background-image:linear-gradient(rgba(213,222,235,0) 0,#d5deeb 80%,#d5deeb 100%);width:44px;position:absolute;top:0;right:0}
.alert{border:0;border-bottom:2px solid #55c45f;border-radius:2px;font-size:14px;background-color:#343c55;padding:12px 15px}
.alert-success{border-color:#55c45f;color:#55c45f}
.alert-error{border-color:#ff6b6b;color:#ff6b6b;font-weight:700}
.cd-header{height:auto;padding:25px 0}
.cd-header .header-inner-container{max-width:900px;padding-right:15px;opacity:0;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;padding-left:15px;margin-right:auto;margin-left:auto;height:94px}
.cd-header .header-inner-container h1{font-size:26px;color:#fff;max-width:75%;line-height:30px}
.back-btn,.back-btn:focus,.back-btn:hover{color:#9fa7b7}
.cd-header .header-inner-container .hi-icon-effect-2{display:inline-block;float:right;margin-top:5px}
.cd-header .header-inner-container .hi-icon-effect-2 .hi-icon{box-shadow:0 0 0 2px #c96aa4}
.cd-header .header-inner-container .hi-icon-effect-2 .hi-icon:before{background-image:url(../images/icons/versions.png)}
.cd-header .header-inner-container .hi-icon-effect-2 .hi-icon:after{background-color:#c96aa4}
.cd-header #header-content-container{position:absolute;top:0;height:46px;right:5%}
.back-btn{font-size:14px;padding-top:20px;position:relative;padding-left:20px}
.back-btn svg{height:42px;position:absolute;left:-15px;top:5px}
.back-btn svg polyline{stroke:#9fa7b7!important}
.back-btn:focus:hover,.back-btn:hover:hover{color:#858b99}
.back-btn:focus svg polyline,.back-btn:hover svg polyline{stroke:#858b99!important}
@media (min-width:768px){.cd-header .header-inner-container{width:750px}
}
@media (min-width:992px){.cd-header .header-inner-container{width:970px}
}