.list-container{background:#D5DEEB;color:#343C55;border-radius:2px;margin-bottom:30px;position:relative;height:90px}
.list-container a,.list-container span{color:#343C55}
.list-container .list-link{display:block}
.list-container .delete-btn{display:block;background-image:url(../../images/icons/remove.svg);background-repeat:no-repeat;background-position:center;height:46px;width:42px;position:absolute;right:0;background-size:42px 46px;bottom:0;z-index:1}
.list-container .list-thumbnail{background:#fff;padding:6px;width:52px;height:52px;position:absolute;margin:21px 1.5625% 21px 19px;border-radius:2px}
.list-view,.list-view:first-child{margin-top:30px}
.list-container .list-thumbnail .list-thumbnail-img{width:100%;height:100%;background-size:cover;background-repeat:no-repeat;background-position:center}
.list-container .list-contents-container{margin-left:0;overflow:hidden;padding:21px 49px 21px 19px}
.list-container .list-contents-container .list-label{font-weight:700;font-size:16px;overflow:hidden;white-space:nowrap;border-bottom:1px solid #343C55}
.list-container .list-contents-container .list-sub-details{font-weight:500;padding-top:6px;font-size:12px;white-space:nowrap}
.list-container .list-contents-container .list-sub-details span{font-size:12px;font-weight:500}
.list-container .list-contents-container .list-sub-details .label{padding:0}
.list-container .list-contents-container .list-sub-details .fadding-container{right:0;width:25px}
.list-container .list-contents-container .list-sub-details .columns{position:relative}
.list-container .list-contents-container.thumbnail-active{padding-left:90px}
.list-view{overflow:hidden}
.list-view .loader,.list-view .loader:after,.list-view .loader:before{border-radius:50%;width:2.5em;height:2.5em;-webkit-animation:load7 1.8s infinite ease-in-out;animation:load7 1.8s infinite ease-in-out}
.list-view .loader{display:none;margin:0 auto 2em;font-size:10px;position:relative;text-indent:-9999em;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay:-.16s;animation-delay:-.16s;-moz-transform:scale(.5);-webkit-transform:scale(.5);-o-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5)}
.list-view .loader:before{left:-3.5em;-webkit-animation-delay:-.32s;animation-delay:-.32s}
.list-view .loader:after{left:3.5em}
.list-view .loader:after,.list-view .loader:before{content:'';position:absolute;top:0}
@-webkit-keyframes load7{0%,100%,80%{box-shadow:0 2.5em 0 -1.3em #fff}
40%{box-shadow:0 2.5em 0 0 #FFF}
}
@keyframes load7{0%,100%,80%{box-shadow:0 2.5em 0 -1.3em #fff}
40%{box-shadow:0 2.5em 0 0 #FFF}
}
.simple-list-container{height:60px;margin-top:0;margin-bottom:15px}
.simple-list-container .delete-btn,.simple-list-container .list-link{height:100%}
.simple-list-container .list-thumbnail{width:40px;height:40px;margin-top:10px;margin-bottom:10px}
.simple-list-container .list-contents-container{padding:0 49px 0 19px;height:100%;display:table;width:100%}
.simple-list-container .list-contents-container .list-label{border-bottom:0;display:table-cell;vertical-align:middle}
.simple-list-container .list-contents-container.thumbnail-active{padding-left:78px}