.row{overflow:hidden;margin:0}
.column,.columns{margin-left:1.5625%;float:left;min-height:1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;word-wrap:break-word;word-break:break-word}
.alpha,.column:first-child,.columns:first-child{margin-left:0}
.column.omega,.columns.omega{float:right}
.row .one.column,.row .one.columns,.sixteen.colgrid .row .one.columns{width:6.90104%}
.row .two.columns{width:15.36458%}
.row .three.columns{width:23.82813%}
.row .four.columns{width:32.29167%}
.row .five.columns{width:40.75521%}
.row .six.columns{width:49.21875%}
.row .seven.columns{width:57.68229%}
.row .eight.columns{width:66.14583%}
.row .nine.columns{width:74.60938%}
.row .ten.columns{width:83.07292%}
.row .eleven.columns{width:91.53646%}
.row .twelve.columns{width:100%}
.grid-view .table-striped>tbody>tr:nth-of-type(even){background:#FFF}