@import "../imports/variables.less";
@import "../imports/mixins.less";

#redactor-modal-image-insert {

	#redactor-droparea {
		border-color: transparent;
		padding: 22px;

		#redactor-droparea-placeholder {
			display: table;
			width: 200px;
			margin: 0 auto;
			position: relative;

			input[type=file] {
				position: absolute;
				right: 0px;
				top: 0px;
				font-family: Arial;
				font-size: 118px;
				margin: 0px;
				padding: 0px;
				cursor: pointer;
				opacity: 0;
				height: 100%;
				width: 100%;
				left: 0px;
				z-index: 1;
			}

			&:hover {
				.hi-icon:after {
					.transform(scale(0.85));
				}
			}

			.add-media-inner-wrapper .hi-icon-effect-2 {
				margin-bottom: 0px;
				padding-left: 0px;
				padding-right: 0px;
			}

		}

		&.drag-drop, &.drag-hover {
			border-color: @purple;
			background: @midnight-blue;
		}

	}

}


label input[type="checkbox"] {
	display: none;
}


label input[type="checkbox"] + div {
	height: 20px;
	width: 20px;
	background: @midnight-blue;
	border-radius: 2px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	.transition(all 0.3s);
	vertical-align: middle;
	border: 2px solid  @midnight-blue;

	.fa {
		font-size: 12px;
		color: @slate-grey;
		opacity: 0;
		top: 2px;
		position: absolute;
		line-height: 16px;
		left: 2px;
		right: auto;
		width: 12px;
		height: 12px;
	}

	&:before {
		content: "";
		display: block;
		opacity: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		right: 0px;
		background-color: @alice-blue;
		background-image: url(../../images/form/tick@2x.png);
		background-size: 0px 0px;
		background-repeat: no-repeat;
		background-position: center;
	}

	&:after {
		font-family: FontAwesome;
		content: "\f00c";
		display: none;
		opacity: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		right: 0px;
		color: #fff;
		line-height: 32px;
		text-align: center;
	}

}

label input[type="checkbox"]:checked + div {
    background: transparent;

    &:before {
		background-size: 12px 12px;
        opacity: 1;
        .animation(show-b 0.3s);
    }

    .fa {
        opacity: 1;
        .animation(show-b 0.3s);
    }
}

label {
	&:hover {
		input[type="checkbox"] + div {
			&:before {
				opacity: 1;
				.transition(opacity 0.3s);
			}
		}
	}
}

.checkbox-label {
	vertical-align: middle;
	padding-left: 12px;
	font-weight: 600;
	color: rgb(159, 167, 183);
	font-size: 13px;
}

.checkbox-wrapper, #redactor-modal-box label.checkbox-wrapper {
	padding-left: 0px;
}


#redactor-modal-body {
	position: relative;
}

#redactor-progress {
	position: absolute;
	top: -86px;
	left: 0;
	width: 100%;
	z-index: 1000000;
	height: 3px;
	border-radius: 14px;

	span {
		background: #b471a3;
	}
}
#redactor-modal {
	width: auto !important;
	margin: 10px !important;
}


#redactor-modal-image-droparea, #redactor-modal-file-upload-box {
	background-color: @midnight-blue;
}


#redactor-modal-box {
	background: rgba(0,0,0,0.6);
}

#redactor-modal footer button.redactor-modal-close-btn,
.redactor-modal-close-btn
{
	background: @slate-grey;
	color: @midnight-blue;

	&:hover {
		opacity: 0.7;
		background: @slate-grey;
		color: @midnight-blue;
	}
}

.redactor-modal-delete-btn, #redactor-modal footer button.redactor-modal-delete-btn {
	color: @white;
	float: right;
	font-size: 0px;
	background: url(../../images/icons/delete-white.svg) center right no-repeat;
	background-size: 24px 24px;
	width: 24px !important;
	height: 24px;
	min-width: 0px;
	margin-right: 0px;


	&:hover {
		color: @white;
		float: right;
		font-size: 0px;
		background: url(../../images/icons/delete-white.svg) center right no-repeat;
		background-size: 24px 24px;
		width: 24px !important;
		height: 24px;
		min-width: 0px;
		margin-right: 0px;
	}
}

.redactor-modal-action-btn,  #redactor-modal footer button.redactor-modal-action-btn {
	.aqua-background-link();
	color: @white;

	&:hover {
		color: @white;
	}
}

.redactor-modal-delete-btn, #redactor-modal footer {
	padding: 0 50px 35px;
}

.redactor-modal-delete-btn, #redactor-modal footer button {
	width: auto !important;
	min-width: 133px;
	margin-right: 5px;

	&:last-child {
		margin-right: 0px;
	}
}

.redactor-clip-link, #redactor-modal #redactor-modal-list a.redactor-clip-link {
	border-radius: 2px;
	font-size: 14px;
	font-weight: 600;
	color: @blue-corn;
	background: @azure;

	&:hover {
		background: @alice-blue;
	}
}


#redactor-modal #redactor-modal-list {
	margin-bottom: 0px;
}
