@import "../imports/variables.less";
@import "../imports/mixins.less";

.module-calendar {

	.calendar-view section header.calendar-date {
		margin-bottom: 0px;
		text-transform: uppercase;
	}
	section {
		border: none;
		margin-bottom: 15px;

		.calendar-event {
			padding: 4px;
			padding-left: 20px;


			&:last-child {
				margin-bottom: 0px;
			}

			.event-time {
				vertical-align: middle;
				padding: 10px 0px;
				text-align: center;
				width: 8.36458%;
				.time {
					font-weight: @proxima-semibold;
					font-size: 14px;
					white-space: nowrap;
				}
			}
			.module {
				background: @aqua;
				text-transform: uppercase;
				min-width: 105px;
				color: @white;
				font-weight: @proxima-semibold;
				font-size: @font-size-base;
				display: inline-block;
				text-align: center;
				position: relative;
				z-index: 1;
				padding: 3px 15px;
				vertical-align: middle;
				// margin-right: 22px;
			}

			section.event-wrapper {
				background: @alice-blue;
				padding-bottom: 0;
				float: left;
			}

			.event-label {
				font-size: 14px;
				font-weight: 500;
				display: inline-block;
				padding: 8px 10px;
				color: @blue-corn;
				background: @alice-blue;
				border-radius: 2px;
				overflow: hidden;
				position: relative;
				height: auto;
				width: 90.07292%;

				.left-container, .right-container {
					display:inline-block; 
					float: left;
				}

				.event-text {
					vertical-align: middle;
				}

				.fadding-container {
					width: 23px;
				}
			}
		}
	}
}

@import "calendar-module_mobile.less";
