@import "../imports/variables.less";
@import "../imports/mixins.less";

.container.module-user {

	max-width: 930px;
	
	.panel-body {

		.form-group:last-child {
			margin-bottom: 0px;
		}

	}
	.alert-section {
		background: transparent;
		.alert:first-child {
			margin-bottom: 15px;
		}
	}


	.panel {
		border: none;
		margin-bottom: 37px;
	}

	a.btn {
		margin-right: 8px;
		height: 45px;
		padding: 5px 17px;
		text-transform: uppercase;
		min-width: 130px;
		line-height: 37px;

		&:last-child {
			margin-right: 0px;
		}
	}
	.form-group.submit-form-group {
		padding-left: 37px;
	}
	.field-user-roleassignments {
		.role-assigments {
			background: @azure;
		}
	}



}


@import "user_mobile.less";
