.modal-content{background:#343c55;color:#fff;border-radius:3px;border:0;box-shadow:0}
.modal-content #media-type-buttons{width:100%;height:auto}
.modal-content #media-type-buttons a.hi-icon-effect-2,.modal-content a.hi-icon-effect-2{display:block;width:100%;border:0;border-radius:0;float:none;margin:20px 0 0;color:#fff;padding:24px 15px 22px;height:110px}
.modal-content #media-type-buttons a.hi-icon-effect-2:hover,.modal-content a.hi-icon-effect-2:hover{color:#fff}
.modal-content #media-type-buttons a.hi-icon-effect-2:first-child,.modal-content a.hi-icon-effect-2:first-child{margin-top:0}
.modal-content .modal-body{padding:0 50px 35px;text-align:center}
.modal-content .modal-body .hi-icon-effect-2{background:#212635;margin-top:20px;width:100%;text-align:center;height:110px;padding:24px 15px 22px}
.modal-content .modal-body .hi-icon-effect-2:first-child{margin-top:0}
.modal-content .modal-body .hi-icon-effect-2 .inner-container{display:table;margin:0 auto;width:100%;overflow:visible;max-width:88%}
.modal-content .modal-body .hi-icon-effect-2 .inner-container .columns{overflow:visible}
.modal-content .modal-body .hi-icon-effect-2 .inner-container .five.columns{text-align:center}
.modal-content .modal-body .hi-icon-effect-2 span{font-size:16px;font-weight:700;display:table-cell;vertical-align:middle;line-height:68px}
.modal-content .modal-body .hi-icon-effect-2 .hi-icon{width:64px;height:64px}
.modal-content .modal-body .hi-icon-effect-2.article .hi-icon:before{background-image:url(../../images/articles/article.svg);background-size:45px}
.modal-content .modal-body .hi-icon-effect-2.interview .hi-icon:before{background-image:url(../../images/interview/interview.svg);background-size:50px}
.modal-content .modal-body .hi-icon-effect-2.upload-img .hi-icon:before{background-image:url(../../images/carousel/image.svg);background-size:50px}
.modal-content .modal-body .hi-icon-effect-2.video-url .hi-icon:before{background-image:url(../../images/carousel/video.svg);background-size:50px}
.modal-content .modal-header{padding:29px 15px 29px 50px;border:0;text-align:left}
.modal-content .modal-header h3{margin-right:15px;text-transform:uppercase;font-size:20px;font-weight:700;margin-bottom:0;margin-top:0}
.modal-content .modal-header .close{color:#fff;opacity:1;text-shadow:none;font-size:0;margin-top:-21px;min-height:0;background-image:url(../../images/icons/close.svg);background-repeat:no-repeat;background-size:13px;background-position:center;width:30px;height:30px}
.modal-content .modal-header .close:hover{opacity:.7;background-color:transparent}
.modal-backdrop.in{opacity:.7}
@media (min-width:555px){.modal-dialog{width:529px;margin:30px auto}}
@media (max-width:554px){.modal-content .modal-body .hi-icon-effect-2 .inner-container{max-width:100%}}