@import "../imports/variables.less";
@import "../imports/mixins.less";

.smooth-sortable {
	max-width: 520px;
}

.smooth-sortable li {
	padding: 10px 30px 10px 20px;
	color: @blue-corn;
	.svg-icon-container {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 30px;
		height: 100%;
		background: @alice-blue;
	}

	svg {
		width: 17px;
		right: 10px;
		top: 14px;
		position: absolute;

		.rearrangeable-icon {
			polyline {
				stroke: #60a5bc;
			}
		}

		.tick-icon {
			display: none;
		}
	} 

}
.smooth-sortable li:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	right: 68px;
	height: 100%;
	width: 13px;
	opacity: .5;
	// background: url(../../images/rearrange/handle.png) center center no-repeat;
	background-size: 13px 13px;
}
.smooth-sortable li:active, .ui-draggable-dragging {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	opacity: .8;
	box-shadow:
	0px 2px 10px rgba(0,0,0,.7),
	inset 0px 1px 0px #fff,
	inset 0px -1px 0px #ddd,
	inset 1px 0px 0px #ddd,
	inset -1px 0px 0px #ddd;
	z-index: 9999;
	-webkit-transition: none;
}

