@import "../imports/variables.less";
@import "../imports/mixins.less";

.container.module-language {

	#select-language {
		margin: 15px 0;

		span {
			color: @white;
			margin-right: 20px;
		}

		a.btn.btn-selected {
			background-color: @coral;
		}
	}

}
